<div class="col-12 mx-auto vh-100 d-flex align-items-center">
  <div class="mx-auto text-center text-light">
    <h1>Let's play outside.</h1>
    <%= link_to "Get started", posts_path, class:"btn btn-primary mt-4" %>
    <div class="mt-4">More info<i class="bi bi-arrow-down-square"></i></div>
  </div>
</div>
<div class="container text-light text-center">
  <div class="row">
    <div class="col">
      <h1>How to use</h1>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-6">
        <h3>一緒に汗を流してくれる仲間を探そう</h3>
        <p class="text-start mt-3 p-2">誰かとキャッチボールをしたい、誰かとバスケをやりたい、誰かとサッカーをやりたい、でも、相手がいない。そんなときは掲示板に投稿して相手を探してみよう。あなたと同じように思っている人がきっと来てくれるはず。</p>
    </div>
    <div class="col-md-6">
      <%= image_tag "use.jpg", size: "260x170", class: "rounded" %>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-6">
        <h3>体を動かしたいときに覗いてみよう</h3>
        <p class="text-start mt-3 p-2">気持ちよく晴れた休みの日、外で体を動かしたいと思ったらToday(今日の募集)を見てみよう。ランニング、フットサル、アルティメット、ヨガ、トレッキングなどなど、楽しそうな募集が見つかるかも。素敵な体験と出会いに飛び込んでみよう。
        </p>
    </div>
    <div class="col-md-6">
      <%= image_tag "find.jpg", size: "260x170", class: "rounded" %>
    </div>
  </div>
  <div class="row mt-5 mb-5">
    <div class="col-md-6">
        <h3>たくさんの人を巻き込もう</h3>
        <p class="text-start mt-3 p-2">「バスケの3on3のトーナメントをやります！」、「お正月に黄色いウェアを着て皇居を走りましょう！」、「みんなで高尾山を登りましょう！」などなど、楽しいイベントを企画してどんどん投稿してみよう。興味を持った人は　<i class="bi bi-emoji-wink" style="font-size: 1rem;"></i>　(行くかも！)を押して参加表明してくださいね！</p>
    </div>
    <div class="col-md-6">
      <%= image_tag "running.jpg", size: "260x170", class: "rounded" %>
    </div>
  </div>
</div>
