<div class="col-xl-10 mx-auto mt-5">
  <h1 class="text-center mb-2 text-light">Others</h1>
  <div class="container">
    <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-1">
      <%= render @posts %>
    </div>
  </div>
</div>